{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/course/course-detail.css' %}" />
{% endblock %} {% block content %}
<section class="course-container">
  <div class="course-img">
    <img src="{% static 'images/classroom1.jpeg' %}" alt="Classroom" />
  </div>
  <div class="course-details">
    <h1>{{ course.name }}</h1>
    <p>{{ course.description }}</p>
    {% if course.year > 0 %}
    <h2>{{ course.term }} {{ course.year }}</h2>
    {% else %}
    <h2>{{ course.term }}</h2>
    {% endif %}

    <div class="course-actions">
      <a href="{% url 'course-update' course.id %}" class="btn warn">Edit</a>
      <a href="{% url 'course-delete' course.id %}" class="btn danger"
        >Delete</a
      >
    </div>
  </div>
</section>

<div class="locations-professor-container">
  <section class="locations">
    <div class="subsection-title">
      <h2>Locations</h2>
      <img src="{% static 'images/LA.jpeg' %}" alt="LA Campus" />
      <img src="{% static 'images/NY.jpeg' %}" alt="NY Campus" />
      <img src="{% static 'images/HTX.jpeg' %}" alt="HTX Campus" />
    </div>
    <h3>Add a Location</h3>

    <form
      action="{% url 'add-location' course.id %}"
      method="post"
      class="subsection-content"
      autocomplete="off"
    >
      {% csrf_token %} {{ location_form.as_p }}
      <button type="submit" class="btn submit">Add Location</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>Campus</th>
        </tr>
      </thead>
      <tbody>
        {% for location in course.location.all %}
        <tr>
          <td>{{ location.get_campus_display }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
<section class="locations">

</section>


  <h3>Available Professors</h3>
  <div class="subsection-content">
    {% if professors.count %} 
    {% for professor in professors.all %}
      <div class="professor-container">
        <div class="color-block" style="background-color: {{ professor.name }}"></div>
        <a href="{% url 'professor-detail' professor.id %}">
          <p> {{ professor.name }} {{ professor.bio }}</p>
        </a>
        <form action="{% url 'associate-professor' course.id professor.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn submit">Add Professor</button>
        </form>
      </div>
    {% endfor %}
    {% else %}
    <p class="all-professors">{{course.name}} already has all the available professors </p>
  {% endif %}
  </div>
</section>

  
</div>

<section class="professors">
  <div class="subsection-title">
    <h2>Professors</h2>
    <!-- <img src="{% static 'images/NuttyProfessor.jpeg' %}" alt="Nutty Professor" /> -->
  </div>
  <h3>{{ course.name }}' Professors</h3>
  <div class="subsection-content">
  

   {% if course.professors.count %}
    {% for professor in professors %}
      <div class="professor-container">
        <div class="color-block" style="background-color: {{ professor.bio }}"></div>
        <a href="{% url 'professor-detail' professor.id %}">
            <p> {{ professor.name }} - {{ professor.bio }}</p>
            <form action="{% url 'remove-professor' course.id professor.id %}" method="post">
        {% csrf_token %}
           <button type="submit" class="btn btn-danger">Remove Professor</button>
          </form>
          </a>
      </div>
      {% endfor %}
    {% else %}
      <p class="no-professors">{{course.name}} doesn't have a professor assigned!</p>
    {% endif %}
  </div>


{% endblock %}





